# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Logs
*.log

# Docker
.docker/

# Analysis temp files
analysis/temp_*

# Editors
.idea/
.vscode/
*.swp
*.swo
unprocessed_files

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 

json/
unprocessed_files/